    <section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About Me</h2>
        <div class="subtitle">
    <span class="line"></span>
    <span class="text">who i am</span>
    <span class="line"></span>
  </div>
        <div class="about-content">
        <div class="column left">
            <img src="../../assets/images/abouttwo.jpg" alt="About Sushil" />
        </div>
        <div class="column right">
            <div class="text">
            I'm Sushil and I'm a
            <span class="typing-2">Full Stack</span><span class="typed-cursor">|</span>
            </div>
            <p>
            I am currently working as a Frontend Developer at IFANOW with a Bachelor's of engineering in Information
            Technology from Gujarat Technological University, Gujarat. I enjoy solving challenging problems that enhance my
            technical skills and knowledge. I have strong expertise in designing and developing responsive
            and dynamic web applications.
            <br /><br />
            My passion for continuous learning keeps me updated with the latest industry trends, allowing me
            to apply innovative solutions to the projects I work on. I am committed to delivering
            high-quality work and enjoy collaborating with team members to achieve our goals.
            </p>
            <a
            class="custom-btn"
            target="_blank"
            href="https://drive.google.com/file/d/1VBCDH2j2fqqXOECRluMU3U1DXQqIX8am/view?usp=sharing"
            >Download CV</a
            >
        </div>
        </div>
    </div>
    </section>
